.cart {
  position: sticky;
  top: 0;
  padding: 30px 20px;
}
.cart button {
  font-size: 18px;
  width: 100%;
  background-color: rgba(246, 25, 25, 0.7);
  color: aliceblue;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
.cart button:hover {
  cursor: pointer;
  background-color: rgba(246, 25, 25, 0.9);
}
