.header {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
}
.header a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 36px;
}
.header a:hover {
  color: orange;
}

.btn-logout {
  margin-left: 10px;
}
